.blog {
  display: flex;
  justify-content: space-between;
  &__left {
    width: 82.05%;
    display: flex;
    flex-wrap: wrap;
    gap: 6.26%;
  }
  &__right {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    width: 17.95%;
    & > * {
      &:not(:last-child) {
        margin-bottom: 8rem;
      }
    }
  }

  &__heading {
    margin-bottom: 3.2rem;
    width: 100%;
    & > * {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
    & p {
      color: $color-grey;
      text-transform: unset;
    }
    & a {
      color: $color-soft-orange;
      text-transform: capitalize !important;
      font-weight: 700;
      &:hover {
        color: $color-orange;
      }
    }
  }

  &__categories,
  &__share {
    display: flex;
    flex-direction: column;
    & > * {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
    & h6 {
      font-family: $font-primary;
      color: $color-white;
      text-transform: lowercase;
    }
    & hr {
      width: 4rem;
      border: none;
      height: 0.2rem;
      background-color: $color-orange;
    }
    & ul {
      & > * {
        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
      }
      & li {
        list-style: none;
        font-size: 1.6rem;
        text-transform: lowercase;

        & svg {
          fill: $color-white;
          height: 2.4rem;
          width: 2.4rem;
        }
      }
    }
  }

  &__card {
    background-color: #353432;
    border-radius: 0.5rem;
    padding: 1.6rem;
    width: 46.87%;
    // height: 20.5rem;
    margin-bottom: 6.26%;

    & > * {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }

    & h4 {
      font-family: $font-primary;
      color: $color-white;
      text-transform: lowercase;
    }

    & p {
      text-transform: none;
      // color: $color-grey;
    }
    & a {
      text-transform: lowercase;
      color: rgba($color-orange, 0.8);
      font-size: 1.6rem;
      &:hover {
        color: $color-orange;
      }
    }
  }
}
