.copyright {
  margin-bottom: 4rem;
  &__design {
    & p {
      text-transform: capitalize;
      & span {
        color: $color-soft-orange;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.6rem;
    & > * {
      &:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
    & li {
      list-style: none;
      // cursor: pointer;
      & a {
        display: flex;
        align-items: center;
      }
      & svg {
        fill: $color-soft-orange;
        height: 2rem;
        width: 2rem;
        margin-right: 0.6rem;
      }

      & p {
        text-transform: capitalize;
        &:hover {
          color: $color-off-white;
        }
      }
    }
  }
}
