.header {
  margin-top: 10vh;
  height: 16rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #fbc89c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.4rem;
  overflow: hidden;
  margin-bottom: 6.4rem;

  &__title {
    & h4 {
      color: #353432;
    }
  }
  &__image {
    margin-top: -3.2rem;
    transform: rotate(-30deg);
    width: 34.85%;
    & svg {
      width: 100%;
      height: 32rem;
      fill: linear-gradient(149.86deg, rgba(37, 36, 34, 0.3) -22.26%, rgba(249, 177, 113, 0.3) 110.26%);
    }
  }
}
