.post {
  padding-top: 10vh;

  &__heading {
    margin-bottom: 3.2rem;
    & h4 {
      color: $color-orange;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 5.12%;
  }

  &__card {
    background-color: #353432;
    border-radius: 0.5rem;
    padding: 1.6rem;
    width: 29.91%;
    margin-bottom: 5.12%;
    cursor: pointer;

    & > * {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }

    & h4 {
      font-family: $font-primary;
      color: $color-white;
      text-transform: lowercase;
    }

    & p {
      text-transform: none;
    }

    & a {
      color: rgba($color-soft-orange, 0.8);
      font-size: 1.6rem;
      text-transform: lowercase;
      &:hover {
        color: $color-orange;
      }
    }
  }
}
