.resume {
  padding-top: 16vh;
  &__heading {
    margin-bottom: 2.4rem;
    color: $color-orange;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > * {
      width: 42.5%;
    }
  }

  & p {
    color: rgba($color-white, 0.8);
  }

  &__left {
    & > * {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }

  &__right {
    & > * {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }

  &__card {
    & > * {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
    & h6 {
      color: $color-soft-orange;
    }
    & .date {
      color: $color-orange;
    }
    & .description {
      color: $color-off-white;
    }

    & .date {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    & ul {
      list-style: none;
      & li {
        margin-bottom: 0.8rem;
        display: flex;
        & span {
          color: $color-orange;
          font-size: 1.6rem;
          margin-right: 0.8rem;
        }
      }
    }
  }
}
