.works {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5.12%;
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  & h4 {
    color: $color-orange;
  }

  &__card {
    background-color: rgba(#3b3a38, 0.8);
    border-radius: 0.5rem;
    padding: 1.6rem;
    width: 29.91%;
    margin-bottom: 5.12%;
    & > * {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
    & h5 {
      font-weight: 500;
      color: $color-soft-orange;
      font-family: $font-primary;
      font-weight: 700;
      text-transform: lowercase;
    }

    & figure {
      width: 100%;
      height: 22.7rem;
      background-color: $color-off-white;
      border-radius: 0.25rem;
    }

    & p {
      &:nth-of-type(2) {
        font-weight: 700;
      }
    }

    &__group {
      display: flex;
      gap: 0 1.6rem;
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 0 0.8rem;
      cursor: pointer;
      & svg {
        height: 1.6rem;
        width: 1.6rem;
        margin: 0;
        fill: rgba($color-orange, 0.8);
      }
      & p {
        font-size: 1.4rem;
        margin: 0;
        color: rgba($color-off-white, 0.5);
      }
      &:hover {
        & svg {
          fill: $color-orange;
        }
        & p {
          color: $color-off-white;
        }
      }
    }
  }
}

.copyright {
  margin-bottom: 4rem;
  &__design {
    & p {
      & span {
        color: $color-soft-orange;
      }
    }
  }
}
