// Color Variables //
// ---------------------------------------------------------------------//
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #dfdede;
$color-orange: #d45524;
$color-off-white: #faf8f4;
$color-light-orange: #fbc89c;
$color-dark-orange: #252422;
$color-black-orange: #070707;

$shadow-sm: 0 0.1rem 0.25rem 0 rgba(0, 0, 0, 0.15);

// Font Variables //
// ---------------------------------------------------------------------//
$font-primary: 'Hurme Geometric Sans', sans-serif;
$font-primary-bold: 'Hurme Geometric Sans Bold', sans-serif;
$font-primary-semibold: 'Hurme Geometric Sans SemiBold', sans-serif;
$font-secondary: 'Fira Code', monospace;
