#global {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: relative;

    &__fixed {
      background-color: $color-dark-orange;
      position: fixed;
      width: 100%;
      z-index: 10;
      top: 0;
    }
    &__menu {
      display: none;
    }
    &__logo {
      font-size: 2.1rem;
      & a {
        font-size: 2.1rem;
        font-weight: 900;
        cursor: pointer;
        color: $color-white;
        font-family: $font-primary-semibold;
        & span {
          color: $color-orange;
        }
        &:hover {
          color: $color-orange;
        }
      }
    }
    &__nav {
      display: flex;
      justify-content: space-between;
    }
    &__list {
      display: flex;
      align-items: center;
      & > * {
        &:not(:first-child) {
          margin-left: 4.8rem;
        }
      }
    }
    &__item {
      list-style: none;
      font-size: 2.1rem;

      & > * {
        &:hover {
          color: $color-orange;
          // transition: all 0.15s;
          transition: text-shadow 0.3s;
          text-shadow: 0 0 0.1rem $color-orange, 0 0 0.1rem $color-orange;
        }
      }
      & a {
        color: $color-white;
      }
    }
    &__projects,
    &__resume,
    &__contact,
    &__blog {
      & a {
        color: $color-orange;
        font-family: $font-primary-semibold;
      }
    }

    &__active {
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      background-color: rgba($color-black-orange, 0.95);
      &__nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &__list {
        & > * {
          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
        }
      }

      &__item {
        font-size: 8rem;
        font-family: $font-secondary;
        font-weight: 900;
        color: $color-white;

        & span {
          font-size: 2.1rem;
          margin-right: 1.6rem;
          color: $color-soft-orange;
        }
      }
    }
  }
}
